---
layout: default
---
<div class="container">
  <div class="home">
    <img src="{{ '/images/avatar.jpg' | relative_url }}" alt="{{ site.title }}" class="avatar">
    <h1>{{ site.title }}</h1>

    <p class="about-me">Hi I'm a MS Computer Engineer (Computer Systems) student @ ASU with 2 years of Data Engineering
      exp. at Zocket Technologies & Novo Nordisk</p>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/shashwat023" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="mailto:{{ site.email }}">Email</a>
      <a href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>

    {% assign categories = site.posts | map: "category" | flatten | uniq %}
    {% for category in categories %}
    {% if category %}
    <section>
      <h2>{{ category | capitalize }}</h2>
      <ul class="post-cards">
        {% for post in site.posts %}
        {% if post.category == category or post.category contains category %}
        <li class="post-card">
          <div class="post-card-image">
            {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
            {% else %}
            <img src="/assets/images/default-post.jpg" alt="Default thumbnail">
            {% endif %}
          </div>
          <div class="post-card-content">
            <h3 class="post-card-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="post-card-description">
              {{ post.description | default: post.excerpt | strip_html | truncatewords: 30 }}
            </p>
            <div class="post-card-date">
              {{ post.date | date: "%B %d, %Y" }}
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    {% endfor %}
  </div>
</div>